<<<<<<< HEAD
div{
    border: 3px solid #666;
    height: 50px;
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
=======
div{
    border: 3px solid #666;
    height: 50px;
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
>>>>>>> 618f5d7a796df32ff4a617ecbce342e8c133d942
}