<<<<<<< HEAD
div{
    width: 200px;
    height: 100px;
    float: left;
    margin: 50px;
    border: 5px solid #666;
}
.visible{
    overflow: visible;
}
.hidden{
    overflow: hidden;
}
.scroll{
    overflow: scroll;
}
.auto{
    overflow: auto;
=======
div{
    width: 200px;
    height: 100px;
    float: left;
    margin: 50px;
    border: 5px solid #666;
}
.visible{
    overflow: visible;
}
.hidden{
    overflow: hidden;
}
.scroll{
    overflow: scroll;
}
.auto{
    overflow: auto;
>>>>>>> 618f5d7a796df32ff4a617ecbce342e8c133d942
}