div{
    width: 100px;
    height: 100px;
    background: #ccc;
    margin: 20px;
}
.matrix{
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.rotate{
    transform: rotate(30deg);
}
.scale{
    transform: scale(0.5);
}
.scaleX{
    transform: scaleX(2);
}
.scaleY{
    transform: scaleY(0.5);
}
.skewX{
    transform: skewX(15deg);
}
.skewY{
    transform: skewY(15deg);
}
.translate{
    transform: translate(50px);
}
.translateX{
    transform: translateX(20px);
}
.translateY{
    transform: translateY(2px;);
}