*{
    padding: 0;
    margin: 0;
    font-family: tahoma;    
}
ul{
    list-style: none;
}
#wrapper{
    width: 600px;
    margin: 10px auto;
}
#tabs{
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 2px 2px rgba(0,0,0,.1);
}
#top-line{
    display: inline-block;
    width: 100%;
    background: #34495e;
    overflow: hidden;
}
#top-line ul li{
    float: left;
}
#top-line ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-right: 1px solid #ccc;
}
#top-line ul li a:hover{
    background: #3498db;
}
#tab-content{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
#tab-content section{
    background: #fff;
    font-size: 13px;
    padding: 10px;
    text-align: justify;
}
.off{
    display: none;
}
.on{
    display: block;
}
#tab-content section[data-vision='false']{
    display: none;
}
.active{
    background: #3498db;
}