<<<<<<< HEAD
.res-img{
    width: 100%;
    text-align: center;
}
.res-img img{
    width: 100%;
=======
.res-img{
    width: 100%;
    text-align: center;
}
.res-img img{
    width: 100%;
>>>>>>> 618f5d7a796df32ff4a617ecbce342e8c133d942
}