.container-fluid{
    clear: both;
}
.sidebar{
    width: 30%;
    float: left;
}
.content{
    width: 70%;
    float: right;
}
ul{
    text-decoration: none;
    list-style: none;
}
#map{
    width: 1280px;
    height:  720px;	
}
