<<<<<<< HEAD
div{
    width: 100px;
    height: 100px;
    background: #ccc;
    
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px; 
=======
div{
    width: 100px;
    height: 100px;
    background: #ccc;
    
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px; 
>>>>>>> 618f5d7a796df32ff4a617ecbce342e8c133d942
}