<<<<<<< HEAD
div{
    width: 100px;
    height: 100px;
    background: #ccc;
    margin: 10px;
}
.abs{
    position: absolute;
    background: red;
    top: 80px;
    left: 120px;
}
.abs1{
    position: absolute;
    background: blue;
    top: 20px;
    left: 190px;
=======
div{
    width: 100px;
    height: 100px;
    background: #ccc;
    margin: 10px;
}
.abs{
    position: absolute;
    background: red;
    top: 80px;
    left: 120px;
}
.abs1{
    position: absolute;
    background: blue;
    top: 20px;
    left: 190px;
>>>>>>> 618f5d7a796df32ff4a617ecbce342e8c133d942
}