<<<<<<< HEAD
ul{
    list-style: none;
    width: 200px;
    text-align: center;
    padding: 0;
}
ul li{
    padding: 10px;
    border: 1px solid #ccc;
}
ul li:first-child{
    background: #ccc;
}
ul li:last-child{
    background: #aaa;
=======
ul{
    list-style: none;
    width: 200px;
    text-align: center;
    padding: 0;
}
ul li{
    padding: 10px;
    border: 1px solid #ccc;
}
ul li:first-child{
    background: #ccc;
}
ul li:last-child{
    background: #aaa;
>>>>>>> 618f5d7a796df32ff4a617ecbce342e8c133d942
}