<<<<<<< HEAD
input{
    padding: 10px;
    border: 3px dotted #ccc;
}
input:focus{
    border: 3px solid #ccc;
    box-shadow: none;
    outline: none;
=======
input{
    padding: 10px;
    border: 3px dotted #ccc;
}
input:focus{
    border: 3px solid #ccc;
    box-shadow: none;
    outline: none;
>>>>>>> 618f5d7a796df32ff4a617ecbce342e8c133d942
}