div{
    width: 100px;
    height: 100px;
    background: #ccc;
    margin: 10px;
    position: relative;
}
.rel1{
    left: 0px;
}
.rel2{
    left: 20px;
}
.rel3{
    left: 40px;
}
.rel4{
    left: 60px;
}
.rel5{
    left: 80px;
}
