body{
    background: url(../img/eight_horns.png);
}
div{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.hsl{
    background-color: hsl(0, 50%, 50%);
}
.rgba{
    background-color: rgba(255, 0, 255, 0.5);
}
.hsla{
    background-color: hsla(0, 50%, 50%, 0.5);
}