@font-face {
    font-family: "kartun";
    src: url("../fonts/kartun-webfont.eot");
    src: url("../fonts/kartun-webfont.woff") format("woff"),
           url("../fonts/kartun-webfont.ttf") format("truetype"),
           url("../fonts/kartun-webfont.svg#kartun") format("svg");
    font-weight: normal;
    font-style: normal;
}
p{
    font-family: kartun;
}