<<<<<<< HEAD
.opa{
    width: 500px;
    height: 250px;
    background: #aaa;
    opacity: 0.5;
    filter:alpha(opacity=50);/*IE*/
=======
.opa{
    width: 500px;
    height: 250px;
    background: #aaa;
    opacity: 0.5;
    filter:alpha(opacity=50);/*IE*/
>>>>>>> 618f5d7a796df32ff4a617ecbce342e8c133d942
}