<<<<<<< HEAD
a{
    
}
a:hover{
    color: #666;
}
a:active{
    color: green;
}
a:visited{
    color: rgb(255,0,0);
=======
a{
    
}
a:hover{
    color: #666;
}
a:active{
    color: green;
}
a:visited{
    color: rgb(255,0,0);
>>>>>>> 618f5d7a796df32ff4a617ecbce342e8c133d942
}