*{
    padding: 0;
    margin: 0;
    font-family: Tahoma;
}
#slide{
    width: 400px;
    margin: 20px;
    height: 30px;
    display: inline-block;
}
.top{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.top article{
    float: left;
    line-height: 30px;
    font-size: 13px;
    padding: 0 5px;
}
.spinner{
    float: right;
    padding: 5px;
    background: #fff;
    border-left: 1px solid #555;
    cursor: pointer;
}
.top{
    display: inline-block;
    width: 100%;
    background: #ddd;
    border: 1px solid #555;
}
#slide center{
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    margin-top: -3px;
    width: 100%;
    border-radius: 0 0 3px 3px;
}
#slide center img{
    width: 100%;
}